.order {
  h1 {
    font-weight: 700;
    font-size: 26px;
    margin: 40px 0 20px;
  }
  &__box {
    padding: 46px 36px 33px;
    display: grid;
    row-gap: 20px;
    background-color: #f5f3ea;
    max-width: 360px;

    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      margin: 0;
    }

    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #121314;
      margin-bottom: 10px;

      &::before {
        content: url(https://i.onthe.io/smngoz1981e1hc4ri.f7d42a5e.png);
        margin-right: 5px;
      }
    }

    .price {
      text-align: center;
    }

    .uah,
    .euro {
      font-weight: 700;
      font-size: 24px;
    }
    .euro {
      color: #727272;
    }
    button {
      width: 288px;
      height: 65px;
      background-color: transparent;
      border: 1px solid orangered;
      border-radius: 20px;

      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: orangered;

      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background-color: orangered;
        color: white;
      }
    }
  }
}
