@import "../../../../style/Normal_Classes.module.scss";

$content-color: #001a34;
$box-color: #fb6542;
$ring-color: #ffbb00;

.content {
  display: grid;
  grid-template-rows: 160px 1fr;

  .box {
    position: relative;
    width: 276px;
    height: 151px;

    background: $box-color;
    border-radius: 24px 24px 24px 0px;

    .ring {
      position: absolute;
      top: -57px;
      left: 45px;

      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $ring-color;
      @include flexCenter;
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  span {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.6px;
    color: $content-color;
  }
}
