.box {
  display: grid;
  justify-content: start;

  gap: 30px;
  input {
    max-width: 70%;
    max-height: 56px;
    border-radius: 10px;
    border: 1px solid #dee5ea;
    background-color: #f4f4f4;
    padding: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #1f1f1f;
  }

  p {
    max-width: 100%;
    text-align: start;
  }

  button {
    width: 70%;
    height: 50px;
    background: #231b12;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #ffff;
    transition: ease 0.3s;
    cursor: pointer;

    &:hover {
      border: 1px solid black;
      color: black;
      background-color: white;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;

    .user {
      display: grid;
      row-gap: 15px;
      h3 {
        margin-top: 20px;
        font-size: 30px;
        text-align: start;
      }
      span {
        text-align: start;
        font-size: 20px;
        font-weight: 400;
      }
      .userRole {
        display: grid;
        .oneRole {
          font-size: 15px;
        }
      }
    }

    .roles {
      h3 {
        margin-top: 20px;
        font-size: 30px;
        text-align: start;
        margin-bottom: 30px;
      }
      button {
        min-width: 200px;
      }
      .role {
        text-align: start;
        margin-bottom: 20px;
        input {
          margin-right: 10px;
        }

        label {
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
