@import "../../style/Normal_Classes.module.scss";

.events {
  h1 {
    @include title-style;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
  }

  .filter {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .pagination {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 50px 0 20px;
  }
}
