.carouselTabs {
  margin-top: 30px;
  .tabButtons {
    display: flex;
    gap: 20px;
  }

  .tabButton {
    max-width: 300px;
    max-height: 50px;

    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid #001a34;
    cursor: pointer;
    background: none;
    transition: background-color 0.5s ease;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      // Стилі для активного табу
      background-color: #001a34;
      color: white;
      border: 3px solid #001a34;
    }
  }

  .slideContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-weight: 500;
      font-size: 56px;
      line-height: 60px;
      letter-spacing: 0.8px;
      color: #001a34;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  }
}
