@import "../../../style/Normal_Classes.module.scss";

.login {
  display: grid;
  grid-template-rows: 50px 1fr 50px 50px;
  grid-template-columns: 1fr;
  grid-template-areas: "title" "content" "btn" "auth";
  justify-content: center;
  row-gap: 50px;
  user-select: none;

  .content {
    grid-area: content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 30px;

    &__box {
      display: grid;
      row-gap: 10px;
    }
  }

  h3 {
    grid-area: title;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #ffffff;
  }

  input {
    @include input-style;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #eff3f6;
  }

  .errorActive {
    color: #a5e8ff;
    font-weight: 800;
  }

  button {
    grid-area: btn;

    padding: 22px 32px;
    max-width: 240px;
    max-height: 64px;
    justify-self: center;

    background: #32384d;
    border-radius: 8px;

    font-weight: 400;
    font-size: 22px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #eff3f6;
    cursor: pointer;
    transition: ease 0.3s;

    &:hover {
      background: #211f30;
    }
  }

  p {
    grid-area: auth;
    align-self: self-start;
    justify-self: center;
    width: 200px;

    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: ease 0.3s;

    &:hover {
      border-bottom: none;
    }
  }
}
