.header {
  min-height: 500px;
  background-image: url("https://i.onthe.io/smngoz2584u0l4624.5eeead00.jpg");
  background-position: center;
  background-size: 100%;
  margin: 0 auto;

  .container {
    max-width: 1400px;
    margin: 0 auto;

    .span {
      display: flex;
      margin-top: 50px;
      margin-left: 100px;
      span {
        width: 700px;
        font-weight: 500;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 0.8px;
        color: #ffffff;
      }
    }
  }
}

.headerSecond {
  height: 80px;
  background-image: url("https://i.onthe.io/smngoz2584u0l4624.5eeead00.jpg");
  background-position: center;
  background-size: 100%;
}
