.header {
  min-height: 500px;
  background-image: url("../../Assets/img/header.svg");
  background-position: right;
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-color: #273da4;
  margin: 0 auto;

  .container {
    max-width: 1400px;
    margin: 0 auto;

    .span {
      display: flex;
      margin-top: 50px;
      margin-left: 100px;
      span {
        width: 700px;
        font-weight: 500;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 0.8px;
        color: #ffffff;
      }
    }
  }
}
