.param {
  display: grid;
  row-gap: 30px;

  p {
    width: 100%;
  }

  .colors {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;

    .color1,
    .color2,
    .color3,
    .color4,
    .color5,
    .color6 {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
    }

    .color1 {
      background-color: #9c6fe2;
    }
    .color2 {
      background-color: #273da4;
    }
    .color3 {
      background-color: #1da551;
    }
    .color4 {
      background-color: #e38800;
    }
    .color5 {
      background-color: #d062d1;
    }
    .color6 {
      background-color: #e44a59;
    }

    .active {
      border: 5px solid rgba(255, 255, 255, 0.5);
    }
  }
}
