@mixin title-style {
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.8px;
  color: #001a34;
}

@mixin input-style {
  width: 370px;
  height: 56px;
  border-radius: 6px;
  // border: 1px solid #dee5ea;
  background-color: #f4f4f4;
  padding: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #1f1f1f;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fullWidthDiv {
  max-width: none;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
