.footer {
  background-color: #101117;
  .container {
    max-width: 1400px;
    padding: 60px 148px 60px 148px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .hard {
    display: grid;
    grid-template-rows: 1fr repeat(3, 0, 5fr);

    a {
      cursor: default;
    }
    span {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .soft {
    display: grid;
    grid-template-rows: 1fr repeat(3, 0, 5fr);

    a {
      cursor: default;
    }

    span {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .social {
    display: grid;
    grid-template-rows: 1fr repeat(3, 0, 5fr);
    row-gap: 10px;

    a {
      width: 38px;
      height: 38px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: #ffffff;
  }

  .link span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #ffffff;
  }

  .linkActive span {
    border-bottom: 1px solid white;
  }
}
