@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100%;
  min-width: 1100px;
  font-family: 'Alegreya Sans', sans-serif;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
}

.outlet {
  max-width: 1176px;
  margin: 0 auto;
  padding: 60px 0 80px 0;
}