@import "../../style/Normal_Classes.module.scss";

.contacts {
  margin-top: 40px;
  h1 {
    @include title-style;
    color: #121314;
  }

  h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #121314;
  }

  .inform {
    margin-top: 30px;
    .adress {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 10px;
      h3 {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 18px;
        color: #121314;
      }

      a {
        color: #0091ad;
        text-decoration: none;
        font-weight: 500;
        font-size: 25px;
        line-height: 14px;
      }
    }
  }

  .org {
    h3 {
      margin: 50px 0 20px;
      font-size: 20px;
      line-height: 18px;
      color: #121314;
    }

    &__contant {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 50px;

      .items {
        display: grid;
        row-gap: 10px;
        .title {
          font-size: 18px;
          line-height: 18px;
          max-width: 250px;
          min-height: 54px;
        }

        img {
          width: 150px;
          height: 200px;
        }

        .name {
          margin-bottom: 4px;
          font-weight: 500;
          font-size: 22px;
          line-height: 24px;
        }

        .number {
          margin-bottom: 4px;
          font-weight: 500;
          font-size: 25px;
          line-height: 24px;
        }

        a {
          color: #0091ad;
          text-decoration: none;
          font-weight: 500;
          font-size: 18px;
          line-height: 14px;
        }
      }
    }
  }
}
