.navbar {
  // background-color: #273da4;
  position: sticky;

  .container {
    display: grid;
    grid-template-columns: 30px repeat(3, 1fr) 30px;
    grid-template-areas: ". logo ul btn_admin button .";
    align-items: center;

    max-width: 1400px;
    min-height: 80px;
    margin: 0 auto;

    .logo {
      grid-area: logo;
      justify-self: start;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      img {
        height: 50px;
        max-width: 100px;
      }
      span {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #ffffff;
      }
    }

    .nav {
      grid-area: ul;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      a {
        cursor: default;
      }
      span {
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .link {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.4px;
      color: #ffffff;

      transition: ease 0.5s;
    }

    .linkActive {
      span {
        padding: 10px 10px 10px;
        border: 2px solid white;
        border-radius: 10px;
      }
    }
    .btn {
      grid-area: button;
      justify-self: end;
      button {
        min-width: 170px;
        height: 48px;
        background: none;
        border-radius: 10px;
        border: 2px solid #ffffff;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #ffffff;

        transition: ease 0.5s;
        cursor: pointer;

        &:hover {
          background: #ffffff;
          color: black;
        }
      }
    }

    button {
      grid-area: button;
      justify-self: end;
      min-width: 93px;
      height: 48px;
      background: none;
      border-radius: 10px;
      border: 2px solid #ffffff;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.4px;
      color: #ffffff;

      transition: ease 0.5s;
      cursor: pointer;

      &:hover {
        background: #ffffff;
        color: black;
      }
    }

    .cabinet {
      grid-area: button;
      justify-self: end;

      min-width: 150px;
      height: 48px;
      background: #eff3f6;
      border-radius: 10px;
      border: none;

      transition: ease 0.3s;
      cursor: pointer;

      &:hover {
        background: #d4d7da;
      }
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #001a34;
      }
    }
  }
}
